html{
  background-image: url('background.jpg');
  background-size: 100%;
}
*{
  font-family: Sansita;
}
body{
  color: white;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

}

#table{
  font-size: 24px;
  margin-right: 20px;
  margin-top: 10px;
  background-color: blue;
  display: inline-block;
  float: left;
}

tr, th, td{
border: 2px solid white;
padding: 5px;
}


#new-store-form{
  width: 100%;

}

label, input{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.form{
  width: 250px;
  padding: 10px;
  margin: 10px;
  background-color: blue;
  float: left;

}

.text{
font-size: 50px;
background-color: blue;
display: inline-block;

}

.heading{
  height: 200px;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 60px;
  text-align: center;
  margin-top: -50px;
  background-color: pink;

}

.navbar{
  font-size: 40px;
  background-color: pink;
  text-align: center;
  width: 100%;
  background-color: white;
}

.tab{
  margin-left: 15px;
  margin-right: 15px;
}
.storeinfo{
  width: 400px;
  float: left;
  font-size: 30px;
  background-color: lightgrey;
  color: black;
  opacity: .75;
  padding-left: 25px;
  margin-right: 25px;
}

.sales{
  font-size: 85px;
  text-align: center;
}

.main-pics{
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;s
}

.salmonplus{

}
