html{
  background-color: blue;
  background-size: cover;
  background-image: url('background.jpg');
}

body{
  color: white;
}

#table{
  font-size: 30px;
  margin: 20px;
  background-color: blue;
  display: inline-block;
}

tr, th, td{
border: 2px solid white;
padding: 5px;
}


#new-store-form{
  width: 100%;

}

label, input{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.form{
  width: 250px;
  padding: 10px;
  margin: 10px;
  background-color: blue;

}

.text{
font-size: 50px;

}

.header {
  content: url('salmon.png');
}
